@import "/node_modules/normalize.css/normalize.css";

html, body {
    margin:0;
    padding: 0;
    display: inline;
    font-size: 24px;
}
.svg-container {
    svg{
        position: absolute;
        top: 0;
        left: 0;
        max-height: 100vh;
        
    }
}
#zone {
    position: absolute;    
}
